/* Initial parallax that controlls the top page (the main page) for the streamer. Added a flexbox to control the position of the text. */
/* Also added a margin of 0 to keep all pieces together solid to keep the parallax effect clean. */

body {
  margin: 0;
}

.mainParallax {
  background-image: url('./components/MainImage.jpg');
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Basic className to controll the text div/h1 to customize as needed while not affecting the parallax. */

.mainText {
  background-color: rgb(217,177,203);
  border: solid rgb(118,216,177) 5px;
  height: 100px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Second parallax that controls the About Me page. Instead of sitting in the center with 100% page width, this one will sit in the top left. */

.aboutParallax {
  background-image: url('./components/AboutMeImage.jpg');
  height: 1000px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Basic className to controll the text div/h1 to customize as needed while not affecting the parallax. */


.aboutText {
  background-color: brown;
  height: 200px;
  margin: 0;
}

/* Third parallax with the same idea as the second. May adjust from the top left the center due to the commissioner wanting a live box. */

.liveParallax {
  background-image: url('./components/LiveImage.jpg');
  height: 1000px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Basic className to controll the text div/h1 to customize as needed while not affecting the parallax. */


.liveText {
  background-color: brown;
  height: 200px;
  margin: 0;
}

/* Last parallax. May also shift this one to the center due to the commissioner wanting the social links to their primary social media platforms. Will confirm later. */

.socialsParallax {
  background-image: url('./components/SocialsImage.jpg');
  height: 1000px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Basic className to controll the text div/h1 to customize as needed while not affecting the parallax. */


.socialsText {
  background-color: brown;
  height: 200px;
  margin: 0;
}

