/* Initial parallax that controlls the top page (the main page) for the streamer. Added a flexbox to control the position of the text. */

/* Also added a margin of 0 to keep all pieces together solid to keep the parallax effect clean. */

@font-face {
  font-family: 'BigNoodleTilting';
  font-style: normal;
  src: local('BigNoddleTilting'), url('./components/font/big_noodle_titling.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'BigNoodleTilting';
}


.navBar {
  display: grid;
  grid-template-columns: 30vw 10vw 10vw 10vw 10vw 30vw;
  grid-template-rows: 30px;
}

.mainLink {
  grid-column: 2;
}

.aboutLink {
  grid-column: 3;
}

.twitchLink {
  grid-column: 4;
}

.socialLink{
  grid-column: 5;
}

