.mainParallax {
  background-image: url('./components/MainImage.jpg');
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainText {
  background-color: brown;
  height: 200px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutParallax {
  background-image: url('./components/AboutMeImage.jpg');
  height: 1000px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.aboutText {
  background-color: brown;
  height: 200px;
  margin: 0;
}

.liveParallax {
  background-image: url('./components/LiveImage.jpg');
  height: 1000px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.liveText {
  background-color: brown;
  height: 200px;
  margin: 0;
}

.socialsParallax {
  background-image: url('./components/SocialsImage.jpg');
  height: 1000px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.socialsText {
  background-color: brown;
  height: 200px;
  margin: 0;
}

